<div class="carousel-container">
  <h1 class="testimonials-header">Testimonials</h1>
  <c-carousel [dark]="true" [wrap]="false" class="carousel">
    <c-carousel-indicators />
    <c-carousel-inner>
      @for (slide of slides; track slide.name) {
        <c-carousel-item class="carousel-item">
          <div class="testimonial-slide">
            <h3>{{ slide.name }}</h3>
            <p class="testimonial-designation">{{ slide.designation }}</p>
            <p class="testimonial-message">{{ slide.message }}</p>
          </div>
        </c-carousel-item>
      }
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev" />
    <c-carousel-control [routerLink] caption="Next" direction="next" />
  </c-carousel>
</div>