.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0c3c60;
    width: 100%;
}

.nav-head{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-right: 30px;
    align-self: center;
}

.title-header {
    color: #FFFFFF;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3%;
}

.nav-head:hover {
    color: sandybrown;
}