.carousel-container {
    height: 250px;
    width: 500px;
}

.information-container {
    display: flex;
    flex-direction: row;

    .card-button {
        background-color: #0c3c60 !important;
        color: white !important;
    }
}

.information-item {
    flex-grow: 1;
}