<span class="header-label">ABOUT</span>
<div class="general-container">
    <span class="general-description general-item">
        Arunex Engineers is an automation and instrumentation company founded in 2000. We have clients all over the world.
    </span>
    <span class="general-image-container general-item">
        <img src="https://static.wixstatic.com/media/82fcd3_0fdc534469f5472699491ca8fc95574a~mv2.jpg/v1/fill/w_713,h_793,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/82fcd3_0fdc534469f5472699491ca8fc95574a~mv2.jpg" alt="" style="width: 570px; height: 634px; object-fit: cover; object-position: 50% 50%;" width="489" height="634" fetchpriority="high">
    </span>
</div>
<div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div><div>    scroll</div>
