.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-between;
}

.ar-card-header {
    height: 20%;
    font-size: 36px;
}

.ar-card-body {
    width: 250px;
    height: 60%;
    font-size: 24px;
    text-align: center;
}

.card-button {

    width: 30%;
    height: 20%;
    font-size: 25px;
}