
.about-layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160vh;
    justify-content: space-evenly;
}

.general-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.general-description {
    text-align: center;
    padding: 110px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
}

.general-image-container {
    text-align: center;
}

.general-image {
    width: 200px;
}

.general-item {
    width: 30%;
}

.header-label {
    font-size: 60px;
    color: #072136;
}