/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #f7f7f7;;
}

.contact-card {
    align-self: center;
    .contact-card-header {
        font-size: x-large
    }

    .contact-card-subject {
        font-weight: 600;
        font-size: larger;
    }

    .contact-card-content {
        font-weight: 600;
        font-size: larger;
    }

    
    .contact-card-icon {
        // mat-icon {
            height: 80px;
            width: 80px;
            font-size: 80px;
            color: #d7df23;
        // }
    }
    
    mat-icon {
        height: 80px;
        width: 80px;
        font-size: 80px;
        color: #d7df23;
    }
}

.client-component {
    .carousel-item {
        img {
            height: 40% !important;
            width: 40% !important;
        }
    }
}

.information-container {
    .card-button {
        border: #0c3c60 solid 1px ;
        background-color: #0c3c60;
        // background-color: #3976a5;
        color: white !important;
    }

    .card-button:hover {
        background-color: white;
        color: #3976a5 !important;
        transition: 0.5s;
    }
}
