

<!-- Landing Section -->
<app-landing></app-landing>
<br>
<br>
<!-- Information Section -->
<div class="information-container">
  <app-card class="information-item" [header]='servicesCardHeader' [body]="servicesCardBody" [buttonLabel]="informationBtnLabel"></app-card>
  <app-card class="information-item" [header]='projectsCardHeader' [body]="projectsCardBody" [buttonLabel]="informationBtnLabel"></app-card>
  <app-card class="information-item" [header]='clientsCardHeader'  [body]="clientsCardBody"  [buttonLabel]="informationBtnLabel"></app-card>
</div>